.home-img {
  width: auto;
  height: auto;
  max-width: 100%;
  transition-duration: 0.5s;
}

.home-img:hover {
  transform: scale(1.2);
  transition-delay: 0.2s;
  transition-duration: 1s;
}

.detail-img {
  max-height: 800px;
  width: auto;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -10px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: transparent;
  margin-bottom: 30px;
}
